<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/landing-beach.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body >
     <!-- main head -->
     <header class="mainHead">
        <div class="main-logo">
            <h1>ZeRa</h1>
        </div>
        <div class="home">
            <ul type="none">
                <li><a href="/">Home</a></li>
                <li><a href="#target-section">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/faq">FAQs</a></li>
            </ul>
            <div class="btn">
                <button type="button"><i class="fa-solid fa-bars"></i></button>
            </div>

            <!-- nav-bar -->
            <div class="nav">
                <div class="close"><i class="fa-solid fa-xmark"></i></div>
                <ul type="none">
                    <li><h4><a href="/landing-beach">Beach Resort</a></h4></li>
                    <li><h4><a href="/landing-city">City Resort</a></h4></li>
                    <li><h4><a href="/landing-hill">Hill Resort</a></h4></li>
                    <li><h4><a href="/landing-greenery">Greenry Resort</a></h4></li>
                    <li>
                        <h4><a href="/desert">Adventurous Resort</a></h4>
                    </li>
                </ul>
            </div>

        </div>
    </header>

    <!-- sliding-img -->
   
        <div class="slide-img">
            <video src="/vids/cityvdo.mp4" type="video/mp4" height="650px" width="100%" control="controls" autoplay loop muted></video>
          </div>
          
   

      <!-- Hotels -->

      <form id="bookForm" action="/payment" method="POST" style="display: none;">
        <input type="hidden" name="beach" id="beachInput">
      </form>

      
      <div class="beach-bar" style="padding:20px; text-align:center">
        <div>
            
            <h1 style="margin: 34px;" class="beach-text">Explore Our city Resort</h1>
             
           
        </div>
        
        <div class="img-beach" style="padding-right: 200px;">
            <img class="b-img1" src="https://wallpaperswide.com/download/luxury_hotel-wallpaper-1920x1536.jpg" alt="">
            <img class="b-img2" src="https://images.pexels.com/photos/70441/pexels-photo-70441.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            <img class="b-img3" src="https://images.pexels.com/photos/933337/pexels-photo-933337.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
        </div>
      </div>
    
      <div class="beach-site">
            <div class="all-left-right-detail">
                <div class="beach-ditail left-detail">
                    <div class="reosrt-detail">
                        <h1>The Ritz-Carlton</h1>
                        <p>Known for timeless elegance and outstanding service, The Ritz-Carlton offers luxurious accommodations, fine dining, and world-class amenities in prestigious locations around the world</p>
                        <span><i class="fa-solid fa-location-dot"></i><p>England</p></span>
                         <span><i class="fa-solid fa-indian-rupee-sign"></i><p>1500/day</p></span>
                        <button class="book-btn">Book Now</button>
                    </div>
                    <div class="detail-right-image-box">
                        <img class="right-img" src="https://media.istockphoto.com/id/903417402/photo/luxury-construction-hotel-with-swimming-pool-at-sunset.jpg?s=612x612&w=0&k=20&c=NyPC_c-wE3W_CImA4t57FpyGy6f428CYROd80jxVC4A=" alt="">
                    </div>
                </div>
        
                <div class="beach-ditail right-detail">
                    <div class="detail-left-image-box">
                        <img class="left-img" src="https://c4.wallpaperflare.com/wallpaper/921/708/937/best-hotels-travel-thailand-tourism-wallpaper-preview.jpg" alt="">
                    </div>
                    <div class="reosrt-detail">
                        <h1 >Four Seasons Hotel</h1>
                        <p>Four Seasons delivers personalized luxury with elegant design, exceptional service, and relaxing wellness experiences in top destinations, offering comfort and sophistication for both leisure and business travelers.</p>
                        <span><i class="fa-solid fa-location-dot"></i><p>London</p></span>
                        <span><i class="fa-solid fa-indian-rupee-sign"></i><p>1500/day</p></span>
                        <button class="book-btn">Book Now</button>
                    </div>
                </div>
        
                <div class="beach-ditail left-detail">
                    <div class="reosrt-detail">
                        <h1 >Waldorf Astoria</h1>
                        <p>Waldorf Astoria blends historic charm with modern luxury, offering elegant accommodations, fine dining, and premium service in landmark locations across the globe.</p>
                        <span><i class="fa-solid fa-location-dot"></i><p>New York</p></span>
                        <span><i class="fa-solid fa-indian-rupee-sign"></i><p>2,000/day</p></span>
                        <button class="book-btn">Book Now</button>
                    </div>
                    <div class="detail-right-image-box">
                        <img class="right-img" src="https://images.unsplash.com/photo-1551882547-ff40c63fe5fa?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8aG90ZWxzfGVufDB8fDB8fHww" alt="">
                    </div>
                </div>
        
                <div class="beach-ditail right-detail">
                    <div class="detail-left-image-box">
                        <img class="left-img" src="https://images.unsplash.com/photo-1566073771259-6a8506099945?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8aG90ZWxzfGVufDB8fDB8fHww" alt="">
                    </div>
                    <div class="reosrt-detail">
                        <h1 >St. Regis</h1>
                        <p>St. Regis offers refined luxury, legendary butler service, and elegant design. Its hotels provide exceptional experiences rooted in timeless style and modern comfort.</p>
                        <span><i class="fa-solid fa-location-dot"></i><p>London</p></span>
                        <span><i class="fa-solid fa-indian-rupee-sign"></i><p>1,800/day</p></span>
                        <button class="book-btn">Book Now</button>
                    </div>
                </div>
            </div>
            
    
      </div>

      <div class="beach-site">
        <div class="all-left-right-detail">
            <div class="beach-ditail left-detail">
                <div class="reosrt-detail">
                    <h1 >Mandarin Oriental</h1>
                    <p>Famous for Asian-inspired luxury and award-winning spas, Mandarin Oriental delivers serene experiences with impeccable service, elegant interiors, and gourmet dining</p>
                    <span><i class="fa-solid fa-location-dot"></i><p>England</p></span>
                     <span><i class="fa-solid fa-indian-rupee-sign"></i><p>1500/day</p></span>
                    <button class="book-btn">Book Now</button>
                </div>
                <div class="detail-right-image-box">
                    <img class="right-img" src="https://media.istockphoto.com/id/903417402/photo/luxury-construction-hotel-with-swimming-pool-at-sunset.jpg?s=612x612&w=0&k=20&c=NyPC_c-wE3W_CImA4t57FpyGy6f428CYROd80jxVC4A=" alt="">
                </div>
            </div>
    
            <div class="beach-ditail right-detail">
                <div class="detail-left-image-box">
                    <img class="left-img" src="https://c4.wallpaperflare.com/wallpaper/74/457/102/life-room-interior-home-wallpaper-preview.jpg" alt="">
                </div>
                <div class="reosrt-detail">
                    <h1 >Rosewood Hotels & Resorts</h1>
                    <p>Rosewood creates culturally rich, ultra-luxury experiences with unique architecture, personalized service, and a deep connection to local heritage and elegance.</p>
                    <span><i class="fa-solid fa-location-dot"></i><p>England</p></span>
                    <span><i class="fa-solid fa-indian-rupee-sign"></i><p>1500/day</p></span>
                    <button class="book-btn">Book Now</button>
                </div>
            </div>

            <div class="beach-ditail left-detail">
                <div class="reosrt-detail">
                    <h1 >Aman Resorts</h1>
                    <p>Aman Resorts provide serene, minimalist luxury in remote, natural settings, focused on privacy, wellness, and harmony with nature for a peaceful escape.</p>
                    <span><i class="fa-solid fa-location-dot"></i><p>England</p></span>
                    <span><i class="fa-solid fa-indian-rupee-sign"></i><p>1500/day</p></span>
                    <button class="book-btn">Book Now</button>
                </div>
                <div class="detail-right-image-box">
                    <img class="right-img" src="https://images.unsplash.com/photo-1551882547-ff40c63fe5fa?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8aG90ZWxzfGVufDB8fDB8fHww" alt="">
                </div>
            </div>
    
            <div class="beach-ditail right-detail">
                <div class="detail-left-image-box">
                    <img class="left-img" src="https://images5.alphacoders.com/686/686723.jpg" alt="">
                </div>
                <div class="reosrt-detail">
                    <h1 >The Peninsula</h1>
                    <p>The Peninsula combines heritage luxury with advanced technology, offering elegant accommodations, world-class service, and iconic experiences in global city destinations.</p>
                    <span><i class="fa-solid fa-location-dot"></i><p>England</p></span>
                    <span><i class="fa-solid fa-indian-rupee-sign"></i><p>1500/day</p></span>
                    <button class="book-btn">Book Now</button>
                </div>
            </div>
        </div>
        

    </div>

    <div class="beach-site">
        <div class="all-left-right-detail">
            <div class="beach-ditail left-detail">
                <div class="reosrt-detail">
                    <h1 >Taj City Centre New Town</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro eos aliquam officia blanditiis ducimus officiis nam deleniti sed libero sapiente sequi aperiam, quas, non voluptate dolore consequatur veritatis repellendus.</p>
                    <span><i class="fa-solid fa-location-dot"></i><p>England</p></span>
                     <span><i class="fa-solid fa-indian-rupee-sign"></i><p>1500/day</p></span>
                    <button class="book-btn">Book Now</button>
                </div>
                <div class="detail-right-image-box">
                    <img class="right-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGVb6Q39nXh5eclSo1cbp_fi8WxWfWfCI0bA&s" alt="">
                </div>
            </div>
    
            <div class="beach-ditail right-detail">
                <div class="detail-left-image-box">
                    <img class="left-img" src="https://c4.wallpaperflare.com/wallpaper/344/179/832/las-vegas-nevada-night-hotel-bellagio-las-vegas-wallpaper-preview.jpg" alt="">
                </div>
                <div class="reosrt-detail">
                    <h1  >Burj Al Arab Jumeirah</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro eos aliquam officia blanditiis ducimus officiis nam deleniti sed libero sapiente sequi aperiam, quas, non voluptate dolore consequatur veritatis repellendus.</p>
                    <span><i class="fa-solid fa-location-dot"></i><p>England</p></span>
                    <span><i class="fa-solid fa-indian-rupee-sign"></i><p>1500/day</p></span>
                    <button class="book-btn">Book Now</button>
                </div>
            </div>

            <div class="beach-ditail left-detail">
                <div class="reosrt-detail">
                    <h1 >Fairmont The Palm</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro eos aliquam officia blanditiis ducimus officiis nam deleniti sed libero sapiente sequi aperiam, quas, non voluptate dolore consequatur veritatis repellendus.</p>
                    <span><i class="fa-solid fa-location-dot"></i><p>England</p></span>
                    <span><i class="fa-solid fa-indian-rupee-sign"></i><p>1500/day</p></span>
                    <button class="book-btn">Book Now</button>
                </div>
                <div class="detail-right-image-box">
                    <img class="right-img" src="https://p4.wallpaperbetter.com/wallpaper/360/515/601/night-in-las-vegas-bellagio-luxury-hotel-casino-hd-wallpapers-for-mobile-phones-laptops-and-pc-1920%C3%971080-wallpaper-preview.jpg" alt="">
                </div>
            </div>
    
            <div class="beach-ditail right-detail">
                <div class="detail-left-image-box">
                    <img class="left-img" src="https://w0.peakpx.com/wallpaper/812/227/HD-wallpaper-tropical-resort-tropical-trees-beach-resort-resort-hotel.jpg" alt="">
                </div>
                <div class="reosrt-detail">
                    <h1 >Atlantis The Royal</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro eos aliquam officia blanditiis ducimus officiis nam deleniti sed libero sapiente sequi aperiam, quas, non voluptate dolore consequatur veritatis repellendus.</p>
                    <span><i class="fa-solid fa-location-dot"></i><p>England</p></span>
                    <span><i class="fa-solid fa-indian-rupee-sign"></i><p>1500/day</p></span>
                    <button class="book-btn">Book Now</button>
                </div>
            </div>
        </div>
        

    </div>
    

        

    <!-- footer -->
     <section id="target-section">
    <footer>
        <div class="about">
            <h2>About Us</h2>
            <div class="line"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Cumque aut, asperiores expedita omnis perferendis tenetur
                  iste assumenda ipsam dolor neque quaerat nesciunt voluptatibus vel. Qui ipsam deserunt rem sint assumenda.
            </p>

            <div class="icons">
                <div class="icon"><i class="fa-brands fa-facebook-f"></i></div>
                <div class="icon"><i class="fa-brands fa-twitter"></i></div>
                <div class="icon"><i class="fa-brands fa-instagram"></i></div>
                <div class="icon"><i class="fa-brands fa-youtube"></i></div>
            </div>
        </div>
        
        <div class="quick-link">
            <h2>Quick Links</h2>
            <div class="line"></div>
            <ul type="none">
                <li><a>About</a></li>
                <li><a>FAQ</a></li>
                <li><a>Privacy Police</a></li>
                <li><a>Help</a></li>
                <li><a>Terms Condition</a></li>
                <li><a>Contact</a></li>
            </ul>
        </div>
        <div class="contact">
            <h2>contact Us</h2>
            <div class="line"></div>
            <h4><i class="fa-solid fa-location-dot"></i>548 Garia,Kolkata,west-bangle</h4>
            <h4><i class="fa-solid fa-phone"></i>+8936054783</h4>
            <h4><i class="fa-solid fa-envelope"></i>unknown@gmail.com</h4>
        </div>
     </footer>
    </section>

     <script src="/js/landing.js"></script>
     <script src="/js/script.js"></script>
</body>
</html>