<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/landing-beach.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body >  
    <!-- main head -->
    <header class="mainHead">
        <div class="main-logo">
            <h1>ZeRa</h1>
        </div>
        <div class="home">
            <ul type="none">
                <li><a href="/">Home</a></li>
                <li><a href="#target-section">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/faq">FAQs</a></li>
            </ul>
            <div class="btn">
                <button type="button"><i class="fa-solid fa-bars"></i></button>
                
            </div>

            <!-- nav-bar -->
            <div class="nav">
                <div class="close"><i class="fa-solid fa-xmark"></i></div>
                <ul type="none">
                    <li><h4><a href="/landing-beach">Beach Resort</a></h4></li>
                    <li><h4><a href="/landing-city">City Resort</a></h4></li>
                    <li><h4><a href="/landing-hill">Hill Resort</a></h4></li>
                    <li><h4><a href="/landing-greenery">Greenry Resort</a></h4></li>
                    <li>
                        <h4><a href="/desert">Adventurous Resort</a></h4>
                    </li>
                </ul>
            </div>

        </div>
    </header>

    <!-- sliding-img -->
    <div class="slide-img">
        <video src="/vids/beachvdo.mp4" height="650" width="100%" control="controls" autoplay loop muted></video>
      </div>
      

     <!-- Beach -->

     <form id="bookForm" action="/payment" method="POST" style="display: none;">
        <input type="hidden" name="beach" id="beachInput">
      </form>

  <div class="beach-bar">
    <div>
        <h1 style="margin: 34px;" class="beach-text">Explore Our Beachs Resort</h1>
    </div>
    
    <div class="img-beach">
        <img class="b-img1" src="https://images.pexels.com/photos/994605/pexels-photo-994605.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
        <img class="b-img2" src="https://images.pexels.com/photos/237272/pexels-photo-237272.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
        <img class="b-img3" src="https://images.pexels.com/photos/176400/pexels-photo-176400.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
    </div>
  </div>


  <div class="beach-site">
        <div class="all-left-right-detail">
            <div class="beach-ditail left-detail">
                <div class="reosrt-detail">
                    <h1>Sahara Beach</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro eos aliquam officia blanditiis ducimus officiis nam deleniti sed libero sapiente sequi aperiam, quas, non voluptate dolore consequatur veritatis repellendus.</p>
                    <span><i class="fa-solid fa-location-dot"></i><p>England</p></span>
                    <span><i class="fa-solid fa-indian-rupee-sign"></i><p>1500/day</p></span>
                    <button class="book-btn">Book Now</button>
                </div>
                <div class="detail-right-image-box">
                    <img class="right-img" src="https://img.freepik.com/free-photo/nature-landscape-with-starry-clear-sky_23-2151683193.jpg?ga=GA1.1.570659143.1744130742&semt=ais_hybrid&w=740" alt="">
                </div>
            </div>
    
            <div class="beach-ditail right-detail">
                <div class="detail-left-image-box">
                    <img class="left-img" src="https://img.freepik.com/premium-photo/seascape-with-palm-cliff-sunset_29505-1241.jpg?ga=GA1.1.570659143.1744130742&semt=ais_hybrid&w=740" alt="">
                </div>
                <div class="reosrt-detail">
                    <h1 >Caravela Beach Resort</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro eos aliquam officia blanditiis ducimus officiis nam deleniti sed libero sapiente sequi aperiam, quas, non voluptate dolore consequatur veritatis repellendus.</p>
                    <span><i class="fa-solid fa-location-dot"></i><p>England</p></span>
                    <span><i class="fa-solid fa-indian-rupee-sign"></i><p>1500/day</p></span>
                    <button class="book-btn">Book Now</button>
                </div>
            </div>

            <div class="beach-ditail left-detail">
                <div class="reosrt-detail">
                    <h1>Langkawi</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro eos aliquam officia blanditiis ducimus officiis nam deleniti sed libero sapiente sequi aperiam, quas, non voluptate dolore consequatur veritatis repellendus.</p>
                    <span><i class="fa-solid fa-location-dot"></i><p>England</p></span>
                    <span><i class="fa-solid fa-indian-rupee-sign"></i><p>1500/day</p></span>
                    <button class="book-btn">Book Now</button>
                </div>
                <div class="detail-right-image-box">
                    <img class="right-img" src="https://img.freepik.com/free-photo/view-breathtaking-beach-nature-landscape_23-2151682903.jpg?ga=GA1.1.570659143.1744130742&semt=ais_hybrid&w=740" alt="">
                </div>
            </div>
    
            <div class="beach-ditail right-detail">
                <div class="detail-left-image-box">
                    <img class="left-img" src="https://img.freepik.com/free-photo/large-cliff-pfeiffer-beach-usa-sunset_181624-23134.jpg?ga=GA1.1.570659143.1744130742&semt=ais_hybrid&w=740" alt="">
                </div>
                <div class="reosrt-detail">
                    <h1 >Cancun</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro eos aliquam officia blanditiis ducimus officiis nam deleniti sed libero sapiente sequi aperiam, quas, non voluptate dolore consequatur veritatis repellendus.</p>
                    <span><i class="fa-solid fa-location-dot"></i><p>England</p></span>
                    <span><i class="fa-solid fa-indian-rupee-sign"></i><p>1500/day</p></span>
                    <button class="book-btn">Book Now</button>
                </div>
            </div>
        </div>
        

    </div>

    <div class="beach-site">
        <div class="all-left-right-detail">
            <div class="beach-ditail left-detail">
                <div class="reosrt-detail">
                    <h1 >Sahara Beach</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro eos aliquam officia blanditiis ducimus officiis nam deleniti sed libero sapiente sequi aperiam, quas, non voluptate dolore consequatur veritatis repellendus.</p>
                    <span><i class="fa-solid fa-location-dot"></i><p>England</p></span>
                    <span><i class="fa-solid fa-indian-rupee-sign"></i><p>1500/day</p></span>
                    <button class="book-btn">Book Now</button>
                </div>
                <div class="detail-right-image-box">
                    <img class="right-img" src="https://static.vecteezy.com/system/resources/previews/037/981/966/non_2x/ai-generated-tropical-minimalistic-mockup-luxury-panoramic-view-at-exotic-resort-on-turquoise-seascape-background-villas-on-beautiful-beach-on-the-ocean-ai-generated-photo.jpg" alt="">
                </div>
            </div>
    
            <div class="beach-ditail right-detail">
                <div class="detail-left-image-box">
                    <img class="left-img" src="https://c4.wallpaperflare.com/wallpaper/808/443/635/4k-beach-resort-anantara-kihavah-maldives-villas-island-wallpaper-preview.jpg" alt="">
                </div>
                <div class="reosrt-detail">
                    <h1 >Caravela Beach Resort</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro eos aliquam officia blanditiis ducimus officiis nam deleniti sed libero sapiente sequi aperiam, quas, non voluptate dolore consequatur veritatis repellendus.</p>
                    <span><i class="fa-solid fa-location-dot"></i><p>England</p></span>
                    <span><i class="fa-solid fa-indian-rupee-sign"></i><p>1500/day</p></span>
                    <button class="book-btn">Book Now</button>
                </div>
            </div>

            <div class="beach-ditail left-detail">
                <div class="reosrt-detail">
                    <h1 >Langkawi</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro eos aliquam officia blanditiis ducimus officiis nam deleniti sed libero sapiente sequi aperiam, quas, non voluptate dolore consequatur veritatis repellendus.</p>
                    <span><i class="fa-solid fa-location-dot"></i><p>England</p></span>
                    <span><i class="fa-solid fa-indian-rupee-sign"></i><p>1500/day</p></span>
                    <button class="book-btn">Book Now</button>
                </div>
                <div class="detail-right-image-box">
                    <img class="right-img" src="https://www.hdwallpapers.in/download/beach_resort_swimming_pool_hd_beach-HD.jpg" alt="">
                </div>
            </div>
    
            <div class="beach-ditail right-detail">
                <div class="detail-left-image-box">
                    <img class="left-img" src="https://media.istockphoto.com/id/536048545/photo/tropical-resort.jpg?b=1&s=612x612&w=0&k=20&c=5rhGja64Nmj9rYu_HXnK1sjFYxMn9bufIesaCGuapKo=" alt="">
                </div>
                <div class="reosrt-detail">
                    <h1 >Cancun</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro eos aliquam officia blanditiis ducimus officiis nam deleniti sed libero sapiente sequi aperiam, quas, non voluptate dolore consequatur veritatis repellendus.</p>
                    <span><i class="fa-solid fa-location-dot"></i><p>England</p></span>
                    <span><i class="fa-solid fa-indian-rupee-sign"></i><p>1500/day</p></span>
                    <button class="book-btn">Book Now</button>
                </div>
            </div>
        </div>
        

    </div>

    <div class="beach-site">
        <div class="all-left-right-detail">
            <div class="beach-ditail left-detail">
                <div class="reosrt-detail">
                    <h1 >Sahara Beach</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro eos aliquam officia blanditiis ducimus officiis nam deleniti sed libero sapiente sequi aperiam, quas, non voluptate dolore consequatur veritatis repellendus.</p>
                    <span><i class="fa-solid fa-location-dot"></i><p>England</p></span>
                    <span><i class="fa-solid fa-indian-rupee-sign"></i><p>1500/day</p></span>
                    <button class="book-btn">Book Now</button>
                </div>
                <div class="detail-right-image-box">
                    <img class="right-img" src="https://media.gettyimages.com/id/1209640955/video/tourist-walking-by-the-edge-of-the-pool-on-the-beach-at-sunset.jpg?s=640x640&k=20&c=iqTPzM2MmVJ9XpR1Yfo-BfrSoQ_IiWNnMAavfp1T_lU=" alt="">
                </div>
            </div>
    
            <div class="beach-ditail right-detail">
                <div class="detail-left-image-box">
                    <img class="left-img" src="https://images7.alphacoders.com/345/345182.jpg" alt="">
                </div>
                <div class="reosrt-detail">
                    <h1 >Caravela Beach Resort</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro eos aliquam officia blanditiis ducimus officiis nam deleniti sed libero sapiente sequi aperiam, quas, non voluptate dolore consequatur veritatis repellendus.</p>
                    <span><i class="fa-solid fa-location-dot"></i><p>England</p></span>
                    <span><i class="fa-solid fa-indian-rupee-sign"></i><p>1500/day</p></span>
                    <button class="book-btn">Book Now</button>
                </div>
            </div>

            <div class="beach-ditail left-detail">
                <div class="reosrt-detail">
                    <h1 >Langkawi</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro eos aliquam officia blanditiis ducimus officiis nam deleniti sed libero sapiente sequi aperiam, quas, non voluptate dolore consequatur veritatis repellendus.</p>
                    <span><i class="fa-solid fa-location-dot"></i><p>England</p></span>
                    <span><i class="fa-solid fa-indian-rupee-sign"></i><p>1500/day</p></span>
                    <button class="book-btn">Book Now</button>
                </div>
                <div class="detail-right-image-box">
                    <img class="right-img" src="https://w0.peakpx.com/wallpaper/828/215/HD-wallpaper-sunset-payzage-resort-house-bungalow-sun-loungers-trees-pool-sea-beach-parasols-restaurant-landscape-thumbnail.jpg" alt="">
                </div>
            </div>
    
            <div class="beach-ditail right-detail">
                <div class="detail-left-image-box">
                    <img class="left-img" src="https://wallpapershome.com/images/pages/ico_h/572.jpg" alt="">
                </div>
                <div class="reosrt-detail">
                    <h1>Cancun</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro eos aliquam officia blanditiis ducimus officiis nam deleniti sed libero sapiente sequi aperiam, quas, non voluptate dolore consequatur veritatis repellendus.</p>
                    <span><i class="fa-solid fa-location-dot"></i><p>England</p></span>
                    <span><i class="fa-solid fa-indian-rupee-sign"></i><p>1500/day</p></span>
                    <button class="book-btn">Book Now</button>
                </div>
            </div>
        </div>
        

    </div>

        <!-- footer -->
         <section id="target-section">
        <footer>
            <div class="about">
                <h2>About Us</h2>
                <div class="line"></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Cumque aut, asperiores expedita omnis perferendis tenetur
                      iste assumenda ipsam dolor neque quaerat nesciunt voluptatibus vel. Qui ipsam deserunt rem sint assumenda.
                </p>
    
                <div class="icons">
                    <div class="icon"><i class="fa-brands fa-facebook-f"></i></div>
                    <div class="icon"><i class="fa-brands fa-twitter"></i></div>
                    <div class="icon"><i class="fa-brands fa-instagram"></i></div>
                    <div class="icon"><i class="fa-brands fa-youtube"></i></div>
                </div>
            </div>
            
            <div class="quick-link">
                <h2>Quick Links</h2>
                <div class="line"></div>
                <ul type="none">
                    <li><a>About</a></li>
                    <li><a>FAQ</a></li>
                    <li><a>Privacy Police</a></li>
                    <li><a>Help</a></li>
                    <li><a>Terms Condition</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="contact">
                <h2>contact Us</h2>
                <div class="line"></div>
                <h4><i class="fa-solid fa-location-dot"></i>548 Garia,Kolkata,west-bangle</h4>
                <h4><i class="fa-solid fa-phone"></i>+8936054783</h4>
                <h4><i class="fa-solid fa-envelope"></i>unknown@gmail.com</h4>
            </div>
         </footer>
         </section>

  <script src="/js/landing.js"></script>
  <script src="/js/script.js"></script>
</body>
</html>